*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
footer{
    /* background-color: lightcoral; */
    height: 100vh;
    display: flex;
    align-items: end;
}
footer>section{
    background-color: #202124;
    padding: 70px;
    width: 100%;
}
footer>section>.top{
    display: flex;
    justify-content: space-evenly;

}
footer>section>.top>ul{
    /* background-color: red; */
    list-style-type:none;

}
.kfc{
    height: 60px;
    width: 60px;
}
.play{
    height: 50px;
    width: 140px;
    
}
footer>section>.top>ul>h4{
    color: white;
}
footer>section>.top>ul>li>a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}
footer>section>.top>ul>li>#map{
    text-decoration: underline;
    margin-top: 0;
    margin-left: 10px;
    display: inline-block;
}
.links>li{
    margin-top: 20px;
}