*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>div{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 100px;font-weight: bold;

}
header>div>ul{
    display: flex;
     align-items: center; 
     margin: 20px; 
    gap: 40px;
}
header>div>ul>li{
    list-style-type: none;
}
header>div>ul>li>a{
    text-decoration: none;
    color: black;  
}
header>div>ul>li>a:hover{
    color:darkgreen;
}
header>div>ul>li>.but2{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
header>div>ul>li>.but2:hover{
background-color:grey;
}
header>div>ul>li>.but1{
    border-radius:20px ;
    padding: 10px;
}
header>div>ul>li>.but1:hover{
    background-color: lightgray;
}
nav>ul{
    background-color: rgb(50, 70, 47);
    height: 65px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
nav>ul>li{
    list-style-type:none;
}
nav>ul>li>a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
nav>ul:hover{
     background-color:rgb(30, 54, 26);
}
footer{
    height: 100vh;
    display: flex; 
    align-items: end;
}
footer>section{
    width: 100%;
}
footer>section>div{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
footer>section>div>ul{
    list-style-type: none;
    font-size:20px ;
    
}
footer>section>div>ul>li{
    margin-top: 30px;
}
footer>section>div>ul>li>a{
    text-decoration: none;
    color: gray;
    
}
footer>section>div>ul>li>a:hover{
    color: black;
}
hr{
    color:lightgrey;
    
}
