*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.outer{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;  
}
.outer>.box1{
    background-color: rgb(223, 71, 122);
    height: 350px;
    width: 300px;
    border-radius: 20px;
    color: white;
    padding: 20px 40px;
}
.outer>.box{
    background-color: white;
    height: 350px;
    width: 300px;
    border-radius: 20px;
    padding: 20px 40px ;
}
a{
    display: block;
    height: 50px;
    color: black;
    text-align: center;
    margin-top: 10px;
}
p{
    text-align: center;
    letter-spacing: 1.2px;
    margin-bottom: 20px;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.outer>.box1>h2{
    text-shadow:1px 3px 5px black ;
}
.outer>.box1>a{
    color: white;
}
h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 13px;
    font-size: 30px;
}
button{
    padding: 15px;
    width:100%;
    border-radius: 25px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.3px;
    background-color:black ;
    border: none;
    font-size: 15px;
}
button:hover{
    background-color: gray;
    color: black;
}
