*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.outer{
    height: 100vh;
    position: relative;
    
}
.outer>.up{
    height: 50vh;
    background-color: blue;
}
.outer>.down{
    height: 50vh;
    background-color: rgb(152, 248, 216);
}
.outer>.inner{
    background-color: white;
    height: 70vh;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 2px 5px black;
}

.inner>.left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}
.left>article{
    width: 60;
}
article>h2{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}
article>form>label{
    display: block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
article>form>input{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #ccc;
    border-radius: 10px;
}
form>button{
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.3px;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px black;
}
.left>p{
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
}
.left>p>a{
    text-decoration: none;
    color: rgb(51,51,225);
}
.right>img{
    height: 55%;
}
.right>h4{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.right>p{
text-align: center;
margin-bottom: 20px;
}
footer{
display: flex;
justify-content: space-around;
}
footer>.line{
    height: 5px;
    background-color: blue;
    width: 20%;
    border-radius: 10px;
    
}

