*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.outer>.inner{
   height: 100%;
   
}
.inner>nav{
background-color: #3498db;
display: flex;
justify-content: space-around;
align-items: center;
color: white;
text-shadow: 1px 1px 1px black;
height: 10%
}
nav>ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
nav>ul>li>a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
nav>ul>li>a:hover{
    color: red;
}
.left>img{
    width: 65%;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 60px 80px;

}
.right>h1{
    margin-bottom: 20px;
    text-transform: capitalize;
}
.right>p{
    color: #333;
    margin-bottom: 20px;

}
.right>button{
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    /* transition: all 0.4s ease-in; */
    width: 100px;
    transform: translateX(350%);
}
/* .right>button:hover{
    transform: scale(1.02);
    box-shadow: 1px 2px 4px black;
} */
footer{
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-shadow:1x 2px 3px black;
    font-size: 20px;
    height: 10%;
    padding: 20px;
    
}
