    *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.outer{
    height: 100vh;
    background-color: rgb(250, 248, 248);
    display: flex;
    justify-content: center;
}
.outer>.inner{
    height: 100%;
    width: 80%;
}
.inner>nav{
    display: flex;
    justify-content:space-between;
    height: 90px;
    align-items: center;
}
nav>ul{
    display: flex;
    gap: 25px;
}
.inner>nav>ul>li{
        list-style-type: none;
        gap: 20px;
        font-size: 16px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
        position: relative;
    }
    ul>li::after{
        content: "";
        height: 2px;
        width: 0%;
        background-color: red;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 1s ease-in;
    }
    ul>li:hover::after{
width: 100%;
    }
.inner>nav>button{
    text-transform: uppercase;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    letter-spacing: 1.3px;
    font-weight: bold;
    cursor: pointer;
    transition:all 0.4s ease-in ;
}
nav>button:hover{
    transform: scale(1.03);
    box-shadow: 1px 3px 5px black;
}
.main{
    display: flex;
    height: calc(100vh-90px);
}
.main>.left{
    flex-basis: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 30px;
    transform: translateY(90px);
}
.left>h1{
    font-size: 38px;
}
.left>p{
    font-size: 20px;
}
.main>.left>button{
    padding: 15px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
    width: 200px;
    letter-spacing: 0.2px;
}
.left>button:hover{
    transform: scale(1.02);
    box-shadow: 1px 2px 4px black;
}
.main>.right{
    flex-basis: 50%;
}
.right>.circle{
    height: 370px;
    width: 370px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}
.right>img{
    height: 60%;
    position: absolute;
    bottom: 10px;
    transition: transform 0.3s ;
}
img:hover{
    transform: scale(1.02) translateY(-3px);
}
span{
    font-style: italic;
    color: rgb(230 230 0);
}
@keyframes up_down{
    0%{
        transform: translateY(30px);
        opacity: 0;

    }
    20%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-30px);
        opacity: 0;
    }
}
.left>h1{
    font-size: 48px;
    animation: up_down 4s ease-in infinite;
}

