*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.outer{
    height: 100vh;
    display: flex;
}
.outer>.right{
    
    flex-basis: 45%;
}
.outer>.left{
    background-color:rgb(78, 172, 204);
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.outer>.left>h1{
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px 5px black;
    font-size: 35px;
    letter-spacing: 1.2px;
    cursor: pointer;
}
.outer>.left>.login{
    background-color: white;
    height: 350px;
    width: 380px;
    padding: 25px 20px;
    border-radius: 20px; 
}
.left>.login>form>label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px; 
}
.left>.login>form>input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
    outline: none;
}
.left>.login>form>input:focus{
    border: 2px solid blue;
}
.left>.login>form>button{
    width: 100%;
    padding: 15px;
    background-color: green;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 25px;
}
.right>.Signup>form>button:hover{
      background-color: rgb(31, 148, 31);
}
.left>.login>.foot{
    display: flex;
    justify-content: space-between; 
}
.left>.login>.foot>p{
    font-weight: bold;
    font-size: 17px;

}
.left>.login>.foot>a{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-transform: capitalize;
    
}


