*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav>ul{
    display: flex;
    background-color: rgb(14, 13, 13);
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    gap: 20px;
    color: white;

}
nav>ul>li{
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer; 
 font-weight: bold;

}
main{
    height: 250px;
    background-color: rgb(130, 168, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
main>h1{
 text-transform: capitalize; 
    letter-spacing: 1.2px;
    text-shadow: 1px 2px 2px black;
    color: white;

}
main>p{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px black ;

}
main>button{
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: lightgreen;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
main>button:hover{
    background-color: seagreen;
    color: white;
}
main>button:active{
    background-color: yellowgreen;
    color: black;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: tomato;
    height: 310px;
}
section>.box{
    height: 250px;
    width: 350px;
    box-shadow: 0px 3px 5px black;
    background-color: white;
    border-radius: 15px;   
    border: none;
}
.box>img{
    height: 60%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.box>h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 3px;
}
.box>p{
    text-align: center;
    font-size: 18px;
}
