*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background-image: linear-gradient(to right,white,purple);
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: auto;
}
.outer>.inner>img{
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 3px 4px black;
    cursor: pointer;
    transition: all 0.5s ease-in;

}
.outer>.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.inner>img:hover{
    transform: scale(1.06);
    box-shadow: 1px 5px 6px black;
}
::-webkit-scrollbar{
    display: none;
}