*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background-image: linear-gradient(red,purple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.outer>h1{
    text-transform: uppercase;
    color: white;
}
.outer>img{
    height: 200px;
    width: 500px;
    border: 5px solid white;
    border-radius: 15px;
    /* object-fit: fill; */
    /* object-fit: contain; */
    object-fit: cover;
    object-position: right;
}
