*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(109, 206, 238);
    display: flex;
    height: 100vh;
    width: 10%;
    /* align-items: end; */
    flex-direction: column;
    justify-content: start;
}
nav>ul{
    /* background-color: rgb(245, 103, 103); */
    width: 100%;

}
nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding:20px ;
    display: block;
}
nav>ul>li>a:hover{
    background-color: black;
    color: red;
}