*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 div{
    height: 100vh;
    background-color:rgb(226, 73, 180);
    display: flex;
    flex-direction:row;
    /* justify-content: end; */
    /* align-items:end;  */
    /* gap: 20px;
    flex-wrap: wrap; */
}
div>img{
    width: 20%;
    height: 300px;
}