header{
    background-color: orangered;
    height: 300px;
}
p{
    font-size :20px;
    font-weight:bold;
    font-style: italic;             
    font-family:'Courier New', Courier, monospace;
}
