*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(165, 127, 255);
    display: flex;
    justify-content: space-between;

    padding: 10px 20px;
}
header>div{
    /* background-color: violet; */
    display: flex;
    gap: 20px;
}
header>div>h1{
     /* background-color: tomato;  */
     color: white;
}
nav{
    background-color: black;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    
}
nav>ul{
/* background-color: lightgreen; */
display: flex;
list-style-type: none;

}
nav>ul>li>a{
text-decoration: none;
color: red;
padding: 20px;
display: block;
font-size: 20px;
}
nav>ul>li>a:hover{
    background-color:pink;
    color: black;
}
nav>ul>li>a:active{
    background-color: lightblue;
    color:purple;
}