*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.outer{
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer>.inner{
    height: 400px;
    width: 300px;
    background-color: white;
    box-shadow: 1px 2px 4px black;
    border-radius: 15px;
    padding: 10px;
    /* overflow: hidden; */
    overflow: scroll;
    /* overflow: auto; */
    /* overflow-x:scroll ; */
}
.inner>h1{
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 8px;
    text-align: center;
}
.inner>p{
    text-align: justify;
    font-size: 18px;
    
}
::-webkit-scrollbar{
    display: none;
}