*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: red;
    padding: 20px 40px;
    width: 450px;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 6px black;
 }
 .container>img{
   height: 130px;
   margin-bottom: 10px;
 }
 .container>h2{
    color: white;
    letter-spacing: 1.3px;
    margin-bottom: 10px;

 }
 .container>#loc{
    color: white;
    letter-spacing: 1.2px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
 }
 .container>p{
font-size: 15px;
color: azure;
font-style: italic;
margin-bottom: 10px;

 }
 .container>button{
    background-color:green;
    display: block;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
    color: white;
    border: none;
    cursor: pointer;

 }
 .container>button:hover{
    background-color: yellow;
 }
 .outer{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
