/* section{
     display:flex; 
      background-color: lightslategray; 
 } 
h1{
    background-color: lightcoral;
    width: 300px;
      display: inline;  
}
a{
     display:block; 
    background-color: lightgreen;
    width: 300px;
}
button{
    background-color: violet;
    width: 200px;
     display:block; 
} */
 div{
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 15px;
 }
div>h1{
    /* background-color: yellow; */
    color: white;
    
}
