*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    border: 2px solid red;
    height: 450px;
    width: 650px;
}
.outer>.box{
    border: 2px solid black;
    height: 80px;
    width: 90px;
}
.outer>#box1{
    display: inline-block;
}
.outer>#box2{
    display:inline;
 } 
 .container{
    background-color: black;
    padding: 20px;
    /* height:300px ; */
    width: 450px;
    border: 2px solid red;
    margin-top: 20px;
    border-radius: 20px;
 }
 .container>button{
    background-color: orange;
    display: block;
    margin-top: 20px;
    width: 100%;
    border-radius: 40px;
    font-size: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
 }
 .container>button:hover{
    background-color: orangered;
    text-shadow: 20px;
 }
